@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 16px;color:#666666; margin: 0
}
.banner{width: 100%;min-height: 300px}
.img-100{width: 100%;height: auto}
.container{width: 80%;margin: 0 auto}
.header{width: 100%;height: 60px;background-color: #FEB94B}
.logo{float: left}
.menu{float: right;padding-top: 20px}
.menu a{padding: 10px 20px;text-decoration: none;text-transform: uppercase;color:white}
.menu a:hover{color: darkred}
.main{width: 100%;min-height: 500px;clear: both}
.w-25{width: 25%;padding: 15px;float: left}
.vien{width: 100%;min-height: 200px;border: 1px solid blue; border-radius: 10px;;text-align: center;padding: 10px}
.bo-goc{border-radius: 10px}
.text-xanh{color: blue}
.text-do{color: red}
.magine{margin: 25px}
footer{width:100%;height:60px;background-color:#FEB94B; clear:both;
color: white; text-align: center; line-height: 60px 
}
.form-control{
	padding: 8px; margin-bottom: 10px; width: 100%
}
.kieuchu{
	text-transform: capitalize
}
.w-40{
	width: 40%; float: left
}
.w-60{
	width: 60%; float:left;
}
.vien-xam{
	width: 100%; min-height: 30px; border: 1px solid gray; border-radius: 10px; padding: 10px; margin-bottom: 10px
}